syntax: glob
*.user
*.suo
*.dbmdl
Bin
bin
obj
packages
csx
Output
*.log
*.jrs
*.chk
*.sln.ide
*.coverage
TestResults
FakesAssemblies
rcf
*~
*.sln.ide
*.metaproj*
*.swp
.vs
project.lock.json
*.project.lock.json
src/Microsoft.Fx.Portability.Offline/data/
/nupkg
.tools/
.data
*.nuget.props
*.nuget.targets
.vscode
